.card-hover {
  background-image: linear-gradient(
    45deg,
    #ffffff00 0%,
    #ffffff00 20%,
    #ffffff00 20%,
    #ffffff00 40%,
    #ffffff00 40%,
    #ffffff00 60%,
    #ffffff00 60%,
    #ffffff00 80%,
    #ffffff00 80%,
    #ffffff00 100%
  );
}

.card-hover:hover {
  background-image: linear-gradient(
    45deg,
    #ffffff49 0%,
    #ffffff49 20%,
    #ffffff00 20%,
    #ffffff00 40%,
    #ffffff49 40%,
    #ffffff49 60%,
    #ffffff00 60%,
    #ffffff00 80%,
    #ffffff49 80%,
    #ffffff49 100%
  );
}

.card-wrapper {
  min-width: 250px;
  max-width: 800px;
  min-height: 30px;
  background-color: darkslategrey;
  border-radius: 10px;
  border-color: aqua;
  border-width: 1px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
