.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.input-field {
  background-color: darkslategrey;
  min-width: 300px;
  min-height: 70px;
  border-radius: 10px;
  color: white;
  border-width: 0px;
}

.input-field::placeholder {
  color: white;
}

.btn-add {
  background-color: rgb(105, 105, 105);
  height: 50px;
  width: 70px;
  border-width: 0px;
  border-radius: 10px;
}

.btn-text {
  color: white;
}

.btn-add:hover {
  background-color: darkgrey;
}
